@model IEnumerable<WebsiteDental.Models.BlogPost>
<!-- Blog Start -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Tin Tức & Cập Nhật</h4>
            <h1 class="display-4 mb-4">Xu Hướng & Tin Mới</h1>
            <p class="mb-0">
                Chăm sóc răng miệng đúng cách không chỉ giúp bạn có nụ cười đẹp mà còn góp phần bảo vệ sức khỏe toàn diện. Theo các chuyên gia nha khoa, việc vệ sinh răng miệng đúng cách, kết hợp khám răng định kỳ có thể giảm nguy cơ sâu răng, viêm nướu và các bệnh lý nguy hiểm như viêm nha chu.
            </p>
        </div>
        <div class="row g-4 justify-content-center">

            @foreach (var n in Model)
            {
                <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="blog-item">
                    <div class="blog-img">
                        <img src="@n.FeaturedImage" class="img-fluid rounded-top w-100" alt="">
                        <div class="blog-categiry py-2 px-4">
                            <span>Business</span>
                        </div>
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-user text-primary"></span> Martin.C</div>
                                <div class="small">
                                    <span class="fa fa-calendar text-primary"></span>
                                    @(n.CreatedAt.HasValue? n.CreatedAt.Value.ToString("dd/MM/yyyy") : "Không có ngày")
                                </div>

                            <div class="small"><span class="fa fa-comment-alt text-primary"></span>@n.ViewCount</div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3">@n.Title</a>
                        <p class="mb-3">@n.Content</p>
                        <a href="#" class="btn p-0">ĐỌC THÊM  <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Blog End -->